<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
</head>
<body>
    <h1>Iniciar Sesión</h1>

    {% if error_message %}
    <p>{{ error_message }}</p>
    {% endif %}

    <form method="post" action="{% url 'iniciar_sesion' %}">
        {% csrf_token %}
        <label for="codigo_estudiante">Código de Estudiante:</label>
        <input type="text" id="codigo_estudiante" name="codigo_estudiante" required><br>

        <label for="password">password:</label>
        <input type="password" id="password" name="password" required><br>

        <input type="submit" value="Iniciar Sesión">
    </form>
</body>
</html>
